.aboutContainer {
  height: 100%;
  display: flex;
  overflow-y: auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 600px) {
    display: block;
    padding:10px;
  }
  &:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    background-image: url('./../../../images/background/siblings.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    filter: blur(2px);
  }
}

.listTitle {
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  color:rgba(33, 33, 33, .8);
  list-style-type: none;
  align-items: center;
  padding: 10px;
  display: table;
  font-size: 5rem;
  font-weight: 900;
  width: auto;
  margin: 0 auto;
}

.list {
  font-family: Helvetica;
  text-align: center;
  list-style-type: none;
  align-items: center;
  padding: 0;
  display: table;
  margin: 0 auto;
  li {
    margin: 1rem;
    color: #ffffff;
    background-color: rgba(33, 33, 33, 1);
    font-size: 2.5rem;
    padding: 15px 15px 15px 15px;
  }
}
